*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #222831;
    color: #EEEEEE;

}
.heading{
    text-align: center;
    margin-top: 0.8rem;
}
#city-report{
    text-align: center;
}
.top-container{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin:1rem 0;
}

#city-name{
   padding: 0.2rem 0.4rem;
   border: none;
   border-radius: 10px;
}

#search{
  margin-left: 0.5rem;
  padding: 0.2rem 0.4rem;
  border: none;
  border-radius: 10px;
  background-color: #393E46;
  color: #EEEEEE;
}

.weather-conditions{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: large;
    width: 30vw;
    margin-left: 35vw;
    background-color: #393E46;
    border-radius: 23px;
}

table *{
  padding: 2rem 1rem;
}
.footer{
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #393E46;
    height: 7vh;
}

.footer p{
    margin-top: 12px;
}

@media screen and (max-width : 768px) {
    .weather-conditions{
        width: 60vw;
        margin-left: 20vw;
        margin-top: 4rem;
    }
    table *{
     padding: 1.4rem 0.7rem;
    }

    .heading{
        margin-top: 1.2rem;
    }
    .top-container{
        margin-top:2rem;
    }
    #city-name{
        padding: 0.5rem;
    }
    #search{
        padding: 0.5rem;
    }
}